output.gif
.gitattributes# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore data outputs
*.gif


# Ignore OS junk
.DS_Store
Thumbs.db

# Ignore environment folders
env/
venv/
.venv/

# Ignore logs
*.log
